<div id="gjs-css-rules">
  <style>.uzer{margin:10px 82.5px 50px 82.5px;}</style>
  <style>*{box-sizing:border-box;}</style>
  <style>body{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}</style>
  <style>.list-info{margin-top:10px;margin-right:0px;margin-bottom:0px;margin-left:0px;}</style>
  <style>.img_teacher{height:483.264px;}</style>
  <style>.div-content{font-size:15px;letter-spacing:0.7px;}</style>
  <style>#i2y20bh{width:73px;height:73px;}</style>
  <style>#i0b1y0v{width:59px;height:59px;}</style>
  <style>#i6s32c8{font-size:14px;letter-spacing:normal;}</style>
  <style>#ilil27v{letter-spacing:0px;}</style>
  <style>#ib0yyi3{letter-spacing:0px;}</style>
  <style>#i4exb9f{font-weight:400;}</style>
  <style>#iv3509j{letter-spacing:0px;}</style>
  <style>#ixalqcp{letter-spacing:0px;}</style>
  <style>#icg0jsj{letter-spacing:0px;}</style>
  <style>#ig85yng{letter-spacing:0px;}</style>
  <style>#iys6gt4{font-size:14px;letter-spacing:normal;}</style>
  <style>.heading3_left{font-size:24px;}</style>
  <style>.words-alisa{margin-top:-13px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:11px;padding-right:12px;padding-bottom:11px;padding-left:12px;}</style>
  <style>.result{margin-top:22px;margin-right:0px;margin-bottom:0px;margin-left:0px;}</style>
  <style>#imtgd9z{font-size:21px;letter-spacing:0.5px;}</style>
  <style>#iabhakg{font-size:21px;letter-spacing:0.5px;}</style>
  <style>#i4tp0or{font-size:21px;letter-spacing:0.5px;}</style>
  <style>#i3ruhwv{font-size:21px;letter-spacing:0.5px;}</style>
  <style>#irjuqo3{font-size:21px;letter-spacing:0.5px;}</style>
  <style>#i9q9w4r{font-size:21px;letter-spacing:0.5px;}</style>
  <style>#ifhx1fl{font-size:21px;letter-spacing:0.5px;}</style>
  <style>.student{height:545.639px;}</style>
  <style>#i2sztol{margin-top:-43px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:11px;padding-right:12px;padding-bottom:11px;padding-left:12px;}</style>
  <style>#i918yaf{padding-top:10px;padding-right:12px;padding-bottom:10px;padding-left:12px;}</style>
  <style>#i9r998k{letter-spacing:0.3px;}</style>
  <style>#imankcx{letter-spacing:0.4px;font-size:14px;}</style>
  <style>#if3q9vk{letter-spacing:0.4px;}</style>
  <style>.div-rezult{padding-top:21px;padding-right:45px;padding-bottom:25px;padding-left:45px;}</style>
  <style>#i99tqlj{font-size:12px;}</style>
  <style>.div-block-alisa{color:rgb(214, 30, 30);}</style>
  <style>#isw4m88{padding-top:11px;padding-right:12px;padding-bottom:11px;padding-left:12px;}</style>
  <style>#iwx4ssg{padding-top:11px;padding-right:12px;padding-bottom:11px;padding-left:12px;}</style>
  <style>#il1gp7y{padding-top:11px;padding-right:12px;padding-bottom:11px;padding-left:12px;}</style>
  <style>#i4igcyy{padding-top:11px;padding-right:12px;padding-bottom:11px;padding-left:12px;}</style>
  <style>#ixvemig{padding-top:11px;padding-right:12px;padding-bottom:11px;padding-left:12px;}</style>
  <style>#i5f2gu9{letter-spacing:0.4px;}</style>
  <style>#iqavl9c{letter-spacing:0.3px;}</style>
  <style>#irhe33t{letter-spacing:0.3px;}</style>
  <style>#iqwa4qi{letter-spacing:0.4px;}</style>
  <style>#iywnj2c{letter-spacing:0.4px;}</style>
  <style>#ivgbb3k{letter-spacing:0.4px;}</style>
  <style>#isu52qk{letter-spacing:0.4px;}</style>
  <style>#i07pu45{letter-spacing:0.4px;}</style>
  <style>#i15uamm{letter-spacing:0.4px;}</style>
  <style>#i0n4n9c{letter-spacing:0.4px;}</style>
  <style>#i4drr5f{letter-spacing:0.4px;}</style>
  <style>#i9to6bg{letter-spacing:0.4px;}</style>
  <style>#inu24x2{font-size:14px;letter-spacing:0.4px;}</style>
  <style>#iz9ngef{font-size:14px;}</style>
  <style>#im8g2nx{font-size:14px;}</style>
  <style>#ip7y2qc{font-size:14px;}</style>
  <style>#ik9dcy5{font-size:14px;}</style>
  <style>#ia41yy4{letter-spacing:0.3px;}</style>
  <style>#if1a0lh{letter-spacing:0.3px;}</style>
  <style>#ih2c4uy{letter-spacing:0.3px;}</style>
  <style></style>
  <style></style>
</div>