<div class="section map" data-anchor="address">
  <div class="container">
    <div class="div-content">
      <h2 class="heading2"><strong>6 школ CHICAGA</strong> в разных районах Петербурга</h2>
      <div class="div-block-map">
        <div class="div-block-direction">
          <div class="block-info">
            <div class="new">NEW</div>
            <div class="school"><span class="number">1</span>Школа
              <br>в Купчино</div>
            <div class="time-info"><span class="metro">3 минуты ходьбы <br>от </span><span class="text-span-blue">ст. м. Купчино</span></div>
            <div class="direction">Фрунзенский район
              <br>Балканская площадь, 5И
              <br>(Балканский-1), 7-й этаж</div>
            <div class="info-contact">тел. <a class="tel-blue" href="tel:+7 (812) 748-15-92"><strong>+7 (812) 748-15-92</strong></a>
              <br>E-mail: <span class="mail"><a href="mailto:kup@chicaga.ru">kup@chicaga.ru</a></span></div><a href="#" data-open-modal="enter-map" data-photo-url="https://chicaga.ru/assets/components/project/app/img/kup.png"  class="link">Увидеть вход и парковку</a></div>
          <div class="block-info">
            <div class="new aut">NEW</div>
            <div class="school"><span class="number">2</span>Школа
              <br>на Ленинском</div>
            <div class="time-info"><span class="metro">5 минуты ходьбы <br>от </span><span class="rad-text-span">ст. м. Ленинский проспект</span></div>
            <div class="direction">Кировский район
              <br>Ленинский проспект, д. 119,
              <br>к. 5, 3-й этаж</div>
            <div class="info-contact">тел. <a class="tel-red" href="tel:+7 (812) 748-15-96"><strong>+7 (812) 748-15-96</strong></a>
              <br>E-mail: <span class="mail"><a href="mailto:len@chicaga.ru">len@chicaga.ru</a></span></div><a href="#" data-open-modal="enter-map" data-photo-url="https://chicaga.ru/assets/components/project/app/img/len.png"  class="link">Увидеть вход и парковку</a></div>
          <div class="block-info _4">
            <div class="new aut">NEW</div>
            <div class="school"><span class="number">3</span>Школа
              <br>на Академической</div>
            <div class="time-info"><span class="metro">4 минуты ходьбы <br>от </span><span class="rad-text-span">ст. м. Академическая</span></div>
            <div class="direction">Калининский район
              <br>Проспект Науки, д. 10, к. 1
              <br>‍</div>
            <div class="info-contact">тел. <a class="tel-red" href="tel:+7 (812) 242-50-80"><strong>+7 (812) 242-50-80</strong></a>
              <br>E-mail: <span class="mail"><a href="mailto:academ@chicaga.ru">academ@chicaga.ru</a></span></div><a href="#" data-open-modal="enter-map" data-photo-url="https://chicaga.ru/assets/components/project/app/img/academ.png"  class="link">Увидеть вход и парковку</a></div>
          <div class="block-info">
            <div class="new">NEW</div>
            <div class="school"><span class="number">4</span>Школа
              <br>на Звёздной</div>
            <div class="time-info"><span class="metro">4 минуты ходьбы <br>от </span><span class="text-span-blue">ст. м. Звёздная</span></div>
            <div class="direction">Московский район
              <br>Улица Звёздная, д. 1,
              <br>Бизнес-центр, 2-й этаж, офис 201</div>
            <div class="info-contact">тел. <a class="tel-blue" href="tel:+7 (812) 242-50-96"><strong>+7 (812) 242-50-96</strong></a>
              <br>E-mail: <span class="mail"><a href="mailto:zvezdnaya@chicaga.ru">zvezdnaya@chicaga.ru</a></span></div><a href="#" data-open-modal="enter-map" data-photo-url="https://chicaga.ru/assets/components/project/app/img/zvezd.png"  class="link">Увидеть вход и парковку</a></div>
          <div class="block-info last">
            <div class="new">NEW</div>
            <div class="school"><span class="number">5</span>Школа  на Ладожской/ Большевиков</div>
            <div class="time-info"><span class="metro">На пересечении<br>Индустриального и Косыгина</span></div>
            <div class="direction">Красногвардейский район Бизнес-центр, Осипенко, д. 2
              <br>‍</div>
            <div class="info-contact">тел. <a href="tel:+7 (812) 242-50-94"><strong>+7 (812) 242-50-94</strong></a>
              <br>E-mail: <span class="mail"><a href="mailto:osipenko@chicaga.ru">osipenko@chicaga.ru</a></span></div><a href="#" data-open-modal="enter-map" data-photo-url="https://chicaga.ru/assets/components/project/app/img/osip.png"  class="link">Увидеть вход и парковку</a></div>
          <div class="block-info last">
            <div class="new aut">NEW</div>
            <div class="school"><span class="number">6</span>Школа
              <br>в Озерках</div>
            <div class="time-info"><span class="metro">5 минуты ходьбы <br>от </span><span class="text-span-blue">ст. м. Озерки</span></div>
            <div class="direction">Выборгский район
              <br>ТРК «Вояж», пр-т Энгельса,
              <br>д. 124, к. 1, 3-й этаж</div>
            <div class="info-contact">тел. <a class="tel-blue" href="tel:+7 (812) 242-82-01"><strong>+7 (812) 242-82-01</strong></a>
              <br>E-mail: <span class="mail"><a href="mailto:ozerki@chicaga.ru">ozerki@chicaga.ru</a></span></div><a href="#" data-open-modal="enter-map" data-photo-url="https://uploads-ssl.webflow.com/605b19076a686a415c04845f/6099130f2a841e5c193fa676_map.jpg"  class="link">Увидеть вход и парковку</a></div>
        </div>
        <div class="div-map">
          <div id="map-adult" style="width: 100%;height: 400%;"></div>
          <div class="div-block-offer">
            <div class="text-offer">Все школы не рядом с вами?</div>
            <div class="subtitle-offer">Попробуйте обучение онлайн в группах
              <br>от 2 до 6 человек!</div><a href="#" class="button w-button" data-open-modal="modal-16">записаться  на 3 бесплатных<br>пробных занятия онлайн</a></div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>