<h3 class="result">Ваш результат модуля 1</h3>
<div class="div-relativ_rezult div-relativ_rezult--active">
   <div class="div-rezult">
      <div class="div-block-rezult">
         <ul role="list" class="list-result">
            <li class="list-item_rezult">
               <div class="text-list_result"><strong class="text-extra-bold">Правильно употребляете 10 базовых глаголов </strong>
                  <br>(например: talk, watch, wait) в прошедшем времени
               </div>
            </li>
            <li class="list-item_rezult">
               <div class="text-list_result"><strong class="text-extra-bold">Умеете говорить простыми предложениями </strong>
                  <br>с этими глаголами
               </div>
            </li>
         </ul>
         <div class="div-block-gregory">
            <img src="https://gizzaprogger.github.io/project_chicaga/images/607c86580b3e0a800914e71c_gregory.jpg" loading="lazy" alt="Gregory" class="gregory">
            <div>
               <div class="name_gregory">Григорий Григорьев</div>
               <div class="text_gregory">На занятиях мне больше всего нравится разминка. Мы делимся впечатлениями о том, у кого что произошло в жизни с момента прошлого урока</div>
            </div>
         </div>
      </div>
      <div class="div-block-button"><a href="/#zayavka_form" class="button-moduls w-button" data-menuanchor="zayavka_form">супер! хочу попробовать</a><a href="" class="link-next-moduls">Смотреть следующий модуль</a></div>
   </div>
   <div class="block-rad-moduls"></div>
</div>
<div class="div-relativ_rezult">
   <div class="div-rezult">
      <div class="div-block-rezult">
         <ul role="list" class="list-result">
            <li class="list-item_rezult">
               <div class="text-list_result"><strong class="text-extra-bold">Знаете 12 устойчивых фраз</strong>
                  которые часто <br>
                  используются в повседневной жизни
               </div>
            </li>
            <li class="list-item_rezult">
               <div class="text-list_result"><strong class="text-extra-bold">Умеете говорить простыми предложениями  </strong>
                  <br>с этими фразами
               </div>
            </li>
         </ul>
         <div class="div-block-gregory">
            <img src="https://chicaga.ru/assets/components/project/app/img/modules/module2.jpg" loading="lazy" alt="Gregory" class="gregory">
            <div>
               <div class="name_gregory">Валерия Гусаковская</div>
               <div class="text_gregory">
                  Одна из самых интересных игр – на память. Это когда преподаватель записывает на доске диалог и постепенно стирает слова. А мы говорим эти предложения по памяти. Такой диалог можно использовать в другой стране. 
                  <br>И это круто.
               </div>
            </div>
         </div>
      </div>
      <div class="div-block-button"><a href="/#zayavka_form" class="button-moduls w-button" data-menuanchor="zayavka_form">супер! хочу попробовать</a><a href="" class="link-next-moduls">Смотреть следующий модуль</a></div>
   </div>
   <div class="block-rad-moduls"></div>
</div>
<div class="div-relativ_rezult">
   <div class="div-rezult">
      <div class="div-block-rezult">
         <ul role="list" class="list-result">
            <li class="list-item_rezult">
               <div class="text-list_result">
                  <strong class="text-extra-bold">Вы поняли разговор двух лондонцев</strong>
               </div>
            </li>
            <li class="list-item_rezult">
               <div class="text-list_result">Умеете <strong class="text-extra-bold">выражать свои мысли на английском</strong>
                  <br>
                  на бытовые темы
               </div>
            </li>
         </ul>
         <div class="div-block-gregory">
            <img src="https://chicaga.ru/assets/components/project/app/img/modules/module3.jpg" loading="lazy" alt="Gregory" class="gregory">
            <div>
               <div class="name_gregory">Александр Наумов</div>
               <div class="text_gregory">
                  Классно, что на занятиях слушаем носителей и песни. 
                  <br>
                  У меня теперь есть свой список песен в приложении, которые я услышал и разобрал на уроке. И я их очень громко пою, когда еду на работу, домой, на урок и т. д.
               </div>
            </div>
         </div>
      </div>
      <div class="div-block-button"><a href="/#zayavka_form" class="button-moduls w-button" data-menuanchor="zayavka_form">супер! хочу попробовать</a><a href="" class="link-next-moduls">Смотреть следующий модуль</a></div>
   </div>
   <div class="block-rad-moduls"></div>
</div>
<div class="div-relativ_rezult">
   <div class="div-rezult">
      <div class="div-block-rezult">
         <ul role="list" class="list-result">
            <li class="list-item_rezult">
               <div class="text-list_result">
                  Отдохнули, попили и перекусили, пообщались с одногруппниками (надеемся, на английском)
               </div>
            </li>
            <li class="list-item_rezult">
               <div class="text-list_result">
                  Самые смелые: <strong>преодолели</strong> себя 
                  <br>
                  и <strong>языковой барьер</strong>, поговорив с носителем
               </div>
            </li>
         </ul>
         <div class="div-block-gregory">
            <img src="https://chicaga.ru/assets/components/project/app/img/modules/module-s.jpg" loading="lazy" alt="Gregory" class="gregory">
            <div>
               <div class="name_gregory">Игорь Волков</div>
               <div class="text_gregory">
                  Супер, что у нас есть перерывы с вкусным кофе 
                  <br>
                  (а уж я разбираюсь в кофе) и шоколадками (в них 
                  <br>
                  не разбираюсь, но мне вкусно :) ) Благодаря этому набору легко справляюсь с 2 часами урока и не устаю ;)</div>
            </div>
         </div>
      </div>
      <div class="div-block-button"><a href="/#zayavka_form" class="button-moduls w-button" data-menuanchor="zayavka_form">супер! хочу попробовать</a><a href="" class="link-next-moduls">Смотреть следующий модуль</a></div>
   </div>
   <div class="block-rad-moduls"></div>
</div>
<div class="div-relativ_rezult">
   <div class="div-rezult">
      <div class="div-block-rezult">
         <ul role="list" class="list-result">
            <li class="list-item_rezult">
               <div class="text-list_result">
                  Вы <strong>поняли основной смысл текста</strong>, хотя там были незнакомые слова. И теперь знаете, что они означают.
               </div>
            </li>
            <li class="list-item_rezult">
               <div class="text-list_result">
                  <strong>Смогли рассказать о своем интересном дне</strong> в прошедшем времени и задать вопросы
               </div>
            </li>
         </ul>
         <div class="div-block-gregory">
            <img src="https://chicaga.ru/assets/components/project/app/img/modules/module4.jpg" loading="lazy" alt="Gregory" class="gregory">
            <div>
               <div class="name_gregory">Мария Белая</div>
               <div class="text_gregory">Сейчас я могу спокойно прочитать текст на английском 
                  <br>
                  и понять его смысл. Даже улавливаю самые мелкие детали.
                  <br>
                  Очень нравится, что мы обсуждаем текст и отвечаем 
                  <br>
                  на вопросы. Это помогает лучше говорить на английском.</div>
            </div>
         </div>
      </div>
      <div class="div-block-button"><a href="/#zayavka_form" class="button-moduls w-button" data-menuanchor="zayavka_form">супер! хочу попробовать</a><a href="" class="link-next-moduls">Смотреть следующий модуль</a></div>
   </div>
   <div class="block-rad-moduls"></div>
</div>
<div class="div-relativ_rezult">
   <div class="div-rezult">
      <div class="div-block-rezult">
         <ul role="list" class="list-result">
            <li class="list-item_rezult">
               <div class="text-list_result">
                  Вы <strong>поняли разговор 2 британцев</strong>, как пройти к банку
                  <br>
                  И почему Роб позвонил Дженни
               </div>
            </li>
            <li class="list-item_rezult">
               <div class="text-list_result">
                  Теперь знаете, как <strong>настоящий британец выразит недовольство</strong>, если банковский автомат не работает
               </div>
            </li>
         </ul>
         <div class="div-block-gregory">
            <img src="https://chicaga.ru/assets/components/project/app/img/modules/module5.jpg" loading="lazy" alt="Gregory" class="gregory">
            <div>
               <div class="name_gregory">Мария Аксенова</div>
               <div class="text_gregory">
                  Очень круто смотреть видео про Роба и Дженни! 
                  <br>
                  Каждый раз ждешь, ну что же там будет дальше. Интересно, что у Дженни американский акцент, а он чисто мужик из Лондона. Поэтому понимаешь разную речь.
                  <br>
                  Еще в видео полезные фразы. Например, для общения 
                  <br>
                  в отеле, в ресторане.
               </div>
            </div>
         </div>
      </div>
      <div class="div-block-button"><a href="/#zayavka_form" class="button-moduls w-button" data-menuanchor="zayavka_form">супер! хочу попробовать</a><a href="" class="link-next-moduls">Смотреть следующий модуль</a></div>
   </div>
   <div class="block-rad-moduls"></div>
</div>
<div class="div-relativ_rezult">
   <div class="div-rezult">
      <div class="div-block-rezult">
         <ul role="list" class="list-result">
            <li class="list-item_rezult">
               <div class="text-list_result">
                  <strong>Сможете узнать дорогу до какого-нибудь места</strong> 
                  <br>
                  в путешествии за границей и понять, что вам ответили
               </div>
            </li>
            <li class="list-item_rezult">
               <div class="text-list_result">
                  <strong>Умеете объяснить дорогу иностранным туристам</strong> 
                  <br>
                  в своем городе
               </div>
            </li>
         </ul>
         <div class="div-block-gregory">
            <img src="https://chicaga.ru/assets/components/project/app/img/modules/module6.jpg" loading="lazy" alt="Gregory" class="gregory">
            <div>
               <div class="name_gregory">Катя Фишер</div>
               <div class="text_gregory">
                  Мне очень нравятся игры для закрепления информации: квиз, «крокодил», викторины и другие. 
                  <br>
                  А когда интересно и весело на занятиях, то и мотивации появляется больше, чтобы изучать дальше что-то новое.</div>
            </div>
         </div>
      </div>
      <div class="div-block-button"><a href="/#zayavka_form" class="button-moduls w-button" data-menuanchor="zayavka_form">супер! хочу попробовать</a><a href="" class="link-next-moduls">Смотреть следующий модуль</a></div>
   </div>
   <div class="block-rad-moduls"></div>
</div>