<form name="email-form-2" data-name="Email Form 2" data-redirect-to="/thank-online.html" data-js-vars="subtitle:В удобное время наш специалист свяжется с вами по телефону:~title-end:Заявку!~info-text:Он ответит на ваши вопросы по обучению в нашей школе" data-if-url="show-cards:false">
  <label for="node-4" class="field-label-lbock_form">Как к вам обращаться?</label>
  <input required type="text" maxlength="256" data-name="Имя" data-js-var-url="name" placeholder="Имя" class="pole-form lbock w-input">
  <label required for="node-4" class="field-label-lbock_form">Введите телефон</label>
  <input required type="tel" maxlength="256" data-name="Телефон" data-js-var-url="phone" placeholder="Телефон" class="pole-form lbock w-input">
  <label for="name-2" class="field-label-lbock_form">Когда позвонить?</label>
  <div>
    <div class="tabs-checkbox-lbock_form">
      <div class="tab-link-form_lbock">
        <label class="radio-button-field w-radio">
          <input required type="radio" data-name="Radio" name="radio" value="Radio" class="w-form-formradioinput radio-button w-radio-input" data-ix="clous-time">
          <div class="div-block-dynamic">
            <div>Сейчас</div>
          </div><span class="radio-button-label w-form-label">Сейчас</span></label>
      </div>
      <div class="tab-link-form_lbock">
        <label class="radio-button-field w-radio">
          <input required type="radio" data-name="Radio 5" name="radio" value="Radio 2" class="w-form-formradioinput radio-button w-radio-input" data-ix="open-time">
          <div class="div-block-dynamic-2">
            <div>По времени</div>
          </div><span for="Radio -5" class="radio-button-label w-form-label">По времени</span></label>
      </div>
    </div>
    <div class="div-block-tab">
      <label for="name-2" class="field-label-lbock_form">Когда вам удобно принять звонок?</label>
      <input type="text" class="pole-form lbock w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="Например, в понедельник в 19:00">
      <label for="name-2" class="field-label-lbock_form">Мы рады связаться с вами:
        <br><strong>пн – чт:</strong> 12:00 – 22:00, <strong>сб – вс:</strong> 11:3</label>
    </div>
  </div>
  <input type="submit" value="Позвоните мне" data-wait="Please wait..." class="button-lbock_form w-button">
  <div class="text-info_form zentr">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь
    <br>с <a href="#" class="link-form_politic">Политикой конфиденциальности</a></div>
</form>