<form name="email-form-2" data-name="Email Form 2" data-redirect-to="/thank-online.html" data-js-vars="subtitle:Наш специалист свяжется с вами по телефону~title-end:Заявку!~info-text:Он запишет вас на бесплатную консультацию и тестирование.<br>На консультации подберем группу нужного уровня для первого<br>бесплатного пробного занятия и вручим подарок">
  <label for="node-3" class="field-label-wait">Как к вам обращаться?</label>
  <input required type="text" maxlength="256" data-js-var-url="name" data-name="Имя" placeholder="Имя" class="pole-form lbock w-input">
  <label for="node-3" class="field-label-wait">Введите телефон</label>
  <input required type="tel" maxlength="256" data-js-var-url="phone" data-name="Телефон" placeholder="Телефон" class="pole-form lbock w-input">
  <label for="name-2" class="field-label-wait">Выберите школу</label>
  <select name="field-8" data-name="Field 8" class="pole-form lbock w-select">
    ${require('./scools-list.html')}
  </select>
  <label for="name-2" class="field-label-wait">Когда позвонить?</label>
  <div>
    <div class="tabs-checkbox-lbock_form">
      <div class="tab-link-form_lbock">
        <label class="radio-button-field w-radio">
          <input required type="radio" data-name="Radio" name="radio" value="Radio" class="w-form-formradioinput radio-button w-radio-input" data-ix="clous-time">
          <div class="div-block-dynamic">
            <div>Сейчас</div>
          </div><span class="radio-button-label w-form-label">Сейчас</span></label>
      </div>
      <div class="tab-link-form_lbock">
        <label class="radio-button-field w-radio">
          <input required type="radio" data-name="Radio 3" name="radio" value="Radio 2" class="w-form-formradioinput radio-button w-radio-input" data-ix="open-time">
          <div class="div-block-dynamic-2">
            <div>По времени</div>
          </div><span for="Radio -3" class="radio-button-label w-form-label">По времени</span></label>
      </div>
    </div>
    <div class="div-block-tab">
      <label for="name-2" class="field-label-lbock_form">Когда вам удобно принять звонок?</label>
      <input type="text" class="pole-form lbock w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="Например, в понедельник в 19:00" >
      <label for="name-2" class="field-label-lbock_form">Мы рады связаться с вами:
        <br><strong>пн – чт:</strong> 12:00 – 22:00, <strong>сб – вс:</strong> 11:3</label>
    </div>
  </div>
  <div class="button-test_form">
    <div class="text-form_button">записаться на консультацию
      <br>и 3 бесплатных пробных
      <br>занятия</div>
    <input type="submit" value="" data-wait="Please wait..." class="submit-button w-button"><img src="https://gizzaprogger.github.io/project_chicaga/images/607d62634b263d4791390062_gift.png" loading="lazy" alt="gift" class="gift"></div>
  <div class="text-info_form zentr">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь
    <br>с <a href="#" class="link-form_politic wait">Политикой конфиденциальности</a></div>
</form>