<div class="section foto_shccol">
  <div class="container w-clearfix">
    <div class="div-content">
      <div class="div-block-heading">
        <h2 class="heading2 disadvantage"><strong>Занятия</strong> в CHICAGA – как душевный вечер  <br>с разговорами у костра</h2>
        <div class="subtitle _3">Только <strong>в стильном интерьере, на удобных стульях и на английском</strong></div>
      </div>
      <div class="div-block-slider">
        <div class="div-block-info-schools">
          <div><strong>6 современных школ</strong> английского языка CHICAGA
            <br><strong>без парт, столов и даже без стен:</strong></div>
        </div>
        <div data-delay="6000" data-animation="slide" data-autoplay="1" data-duration="700" data-infinite="1" class="slider-foto-schools w-slider">
          <div class="mask-slider w-slider-mask">
            <div class="slide w-slide">
              <div class="div-block-foto"><img src="https://gizzaprogger.github.io/project_chicaga/images/607ec475ff3ddc75720e42be_slide-1.jpg" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 88vw, 860.0000610351562px" srcset="https://gizzaprogger.github.io/project_chicaga/images/607ec475ff3ddc75720e42be_slide-1-p-500.jpeg 500w,https://gizzaprogger.github.io/project_chicaga/images/607ec475ff3ddc75720e42be_slide-1-p-800.jpeg 800w,https://gizzaprogger.github.io/project_chicaga/images/607ec475ff3ddc75720e42be_slide-1.jpg 860w" alt="">
                <div class="div-info-schools-poster">
                  <div><strong>Мотивирующие </strong>постеры</div>
                </div>
                <div class="div-info-schools-podstavca">
                  <div><strong>Откидная подставка  </strong>
                    <br>для учебника
                    <br>и рабочей тетради</div>
                </div>
              </div>
            </div>
            <div class="slide w-slide">
              <div class="div-block-foto"><img src="https://gizzaprogger.github.io/project_chicaga/images/607eb3327c010a7f7ac7c1c6_slide-2.jpg" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 88vw, 860.0000610351562px" srcset="https://gizzaprogger.github.io/project_chicaga/images/607eb3327c010a7f7ac7c1c6_slide-2-p-500.jpeg 500w,https://gizzaprogger.github.io/project_chicaga/images/607eb3327c010a7f7ac7c1c6_slide-2-p-800.jpeg 800w,https://gizzaprogger.github.io/project_chicaga/images/607eb3327c010a7f7ac7c1c6_slide-2.jpg 860w" alt="">
                <div class="div-info-schools">
                  <div><strong>Больше света <br>и объема</strong> за счет
                    <br>прозрачных стен</div>
                </div>
              </div>
            </div>
            <div class="slide w-slide">
              <div class="div-block-foto"><img src="https://gizzaprogger.github.io/project_chicaga/images/607ec479a05c204de3a9ea9d_slide-3.jpg" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 88vw, 860.0000610351562px" srcset="https://gizzaprogger.github.io/project_chicaga/images/607ec479a05c204de3a9ea9d_slide-3-p-500.jpeg 500w,https://gizzaprogger.github.io/project_chicaga/images/607ec479a05c204de3a9ea9d_slide-3-p-800.jpeg 800w,https://gizzaprogger.github.io/project_chicaga/images/607ec479a05c204de3a9ea9d_slide-3.jpg 860w" alt="">
                <div class="div-info-schools-bar">
                  <div>Наши студенты любят
                    <br>общаться у чайно-кофейного
                    <br>бара. <strong>И уроки, и тусовка <br>в одном месте :)</strong></div>
                </div>
                <div class="div-info-schools-coffe">
                  <div><strong>8</strong> сортов чая
                    <br><strong>фирменный кофе </strong>
                    <br><strong>10</strong> сортов шоколада</div>
                </div>
              </div>
            </div>
            <div class="slide w-slide">
              <div class="div-block-foto">
                <img src="https://chicaga.ru/assets/components/project/app/img/slider-adult/slide1.jpg" loading="lazy"  alt="">
              </div>
            </div>
            <div class="slide w-slide">
              <div class="div-block-foto">
                <img src="https://chicaga.ru/assets/components/project/app/img/slider-adult/slide2.jpg" loading="lazy"  alt="">
              </div>
            </div>
            <div class="slide w-slide">
              <div class="div-block-foto">
                <img src="https://chicaga.ru/assets/components/project/app/img/slider-adult/slide3.jpg" loading="lazy"  alt="">
              </div>
            </div>
            <div class="slide w-slide">
              <div class="div-block-foto">
                <img src="https://chicaga.ru/assets/components/project/app/img/slider-adult/slide4.jpg" loading="lazy"  alt="">
              </div>
            </div>
            <div class="slide w-slide">
              <div class="div-block-foto">
                <img src="https://chicaga.ru/assets/components/project/app/img/slider-adult/slide5.jpg" loading="lazy"  alt="">
              </div>
            </div>
            <div class="slide w-slide">
              <div class="div-block-foto">
                <img src="https://chicaga.ru/assets/components/project/app/img/slider-adult/slide6.jpg" loading="lazy"  alt="">
              </div>
            </div>
            <div class="slide w-slide">
              <div class="div-block-foto">
                <img src="https://chicaga.ru/assets/components/project/app/img/slider-adult/slide7.jpg" loading="lazy"  alt="">
              </div>
            </div>
            <div class="slide w-slide">
              <div class="div-block-foto">
                <img src="https://chicaga.ru/assets/components/project/app/img/slider-adult/slide8.jpg" loading="lazy"  alt="">
              </div>
            </div>
            <div class="slide w-slide">
              <div class="div-block-foto">
                <img src="https://chicaga.ru/assets/components/project/app/img/slider-adult/slide9.jpg" loading="lazy"  alt="">
              </div>
            </div>
            <div class="slide w-slide">
              <div class="div-block-foto">
                <img src="https://chicaga.ru/assets/components/project/app/img/slider-adult/slide10.jpg" loading="lazy"  alt="">
              </div>
            </div>
            <div class="slide w-slide">
              <div class="div-block-foto">
                <img src="https://chicaga.ru/assets/components/project/app/img/slider-adult/slide11.jpg" loading="lazy"  alt="">
              </div>
            </div>
            <div class="slide w-slide">
              <div class="div-block-foto">
                <img src="https://chicaga.ru/assets/components/project/app/img/slider-adult/slide12.jpg" loading="lazy"  alt="">
              </div>
            </div>
          </div>
          <div class="link-slider-left w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="link-slider-right w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="slide-nav-none w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
  </div>
</div>