<div class="section-successfully-21">
	<div class="container-thanks"><a href="#" class="link-open_main">Вернуться на страницу курсов для взрослых</a>
		<div class="block-content_successfully _22">
			<h1 class="title-successfully"><span data-js-var=""></span> &nbsp;<br>на указанную почту</h1>
			<p class="text-successfully">Вы можете войти в нее отсюда</p>
			<a href="#" class="w-inline-block"><img src="images/60959ce5c1102f5f582a2e22_mail.png" loading="lazy" alt=""></a>
			<div class="text-dop-successfully _4">Если письма нет во входящих, проверьте папку «Промоакции» или «Спам»:
				<br> письмо могло попасть туда по ошибке</div>
			<div class="text-rad">Прошло 10 минут, а письма еще нет?</div>
			<div class="text-dop-successfully _2">Попробуйте еще раз</div>
		</div>
	</div>
</div>