<div class="section footer">
  <div class="container">
    <div class="div-content">
      <div class="block-info-footer">
        <div class="footer-info">
          <div class="div-block-logo"><img src="https://gizzaprogger.github.io/project_chicaga/images/605e7a955c05fb3b81259f5c_Layer201.png" loading="lazy" width="140" alt="CHICAGA" class="logo_footer">
            <div class="description">6 школ английского языка
              <br>в Санкт-Петербурге и онлайн</div>
          </div><a href="#" class="link-footer">Политика конфиденциальности</a><a href="#" class="link-footer">Пользовательское соглашение</a>
          <div class="text-footer">ИП Соколов Мирослав Львович
            <br>ИНН: 780248135973
            <br>ОГРНИП: 315784700</div>
          <div class="text-footer _2">© 2014 – 2021 CHICAGA. Санкт-Петербург</div>
        </div>
        <div class="footer-info zentr">
          <div class="text-footer _2">Добавляйтесь в друзья</div>
          <div class="div-block-maccenger">
            <a href="https://www.instagram.com/chicaga_school" target="_blank" class="messenger w-inline-block"></a>
            <a href="https://vk.com/chicagaru" target="_blank" class="messenger _2 w-inline-block"></a>
          </div>
          <div class="lightbox-sait footer" data-open-modal="modal-dogovor"><img src="https://gizzaprogger.github.io/project_chicaga/images/605e81dd5f9887cd749d94cc_Layer20109.png" loading="lazy" alt="">
            <div class="rise-sertificate"></div>
          </div><a href="#" class="link-footer" data-open-modal="modal-sertyficate">Смотреть лицензии</a></div>
        <div class="footer-info right">
          <div class="block-whatsapp">
            <a href="https://api.whatsapp.com/send?phone=+79111443514" target="_black" class="whatsapp footers w-inline-block"></a>
            <div class="phone">+7 (812) 242-50-03</div>
          </div><a href="#" class="link-fhone" data-open-modal="modal-13">звонок за наш счет</a>
          <div class="text-footer time"><strong>Часы работы администраторов:</strong>
            <br>пн – чт: 12:00 – 22:00
            <br>сб – вс: 11:30 – 17:00</div>
          <div class="text-footer _2"><strong>Занятия:</strong>
            <br>пн – чт: 09:00 – 22:00
            <br>сб – вс: 09:00 – 22:00</div>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="#" class="button-fixed-mabail w-button">записаться  на 3 бесплатных пробных занятия</a></div>
	<div class="lbock-sertyficate modal-sertyficate modal" data-modal-name="modal-sertyficate">
		<div class="modal-wrappper">
			<div class="lbock_bg wait"> <a href="#" class="closure_link">×</a>
				<div data-animation="slide" data-duration="500" data-infinite="1" class="slider_lightbox w-slider">
					<div class="w-slider-mask">
						<div class="w-slide"><img src="https://gizzaprogger.github.io/project_chicaga/images/60926a6bd7b336347b7e8ab5_sertyficate.jpg" loading="lazy" alt=""></div>
						<div class="w-slide"></div>
					</div>
					<div class="left-arrow-slider_lbock none w-slider-arrow-left">
						<div class="w-icon-slider-left"></div>
					</div>
					<div class="right-arrow-slider_lbock none w-slider-arrow-right">
						<div class="w-icon-slider-right"></div>
					</div>
					<div class="slide-nav-none w-slider-nav w-round"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="lbock-correct-phone-number modal" data-modal-name="change-phone">
		<div class="modal-wrappper">
			<div class="lbock_window-free-number">
				<div class="title-popup">Напишите корректный номер</div>
				<div class="subtitle-popup">Проверьте, точно ли теперь всё правильно</div>
				<div class="w-form">
					<form data-name="Корректировка телефона" data-redirect-to="/thank-online.html" data-js-vars="subtitle:<strong>Ваш номер успешно изменен</strong>~title-end:Заявку!~info-text:Он запишет вас на бесплатную консультацию и тестирование.<br>На консультации подберем группу нужного уровня для первого<br>бесплатного пробного занятия и вручим подарок" name="Email Form"><input name="name" data-js-var-url="name" data-name="Имя" type="hidden"><input data-name="Новый телефон" data-js-var-url="phone" type="tel" class="pole-form lbock w-input" maxlength="256" placeholder="Телефон" id="node" name="Телефон"><input type="submit" value="да, это мой номер" data-wait="Please wait..." class="button-lbock_form-thanks w-button"></form>
					<div class="w-form-done">
						<div>Thank you! Your submission has been received!</div>
					</div>
					<div class="w-form-fail">
						<div>Oops! Something went wrong while submitting the form.</div>
					</div>
				</div><a href="#" class="closure_link">×</a></div>
				<script>
					const urlSearchParams = new URLSearchParams(window.location.search);
					const params = Object.fromEntries(urlSearchParams.entries());
					
					params.vars.split("~").forEach(v => {
						if (v.split(":")[0] == "name") {
							document.querySelector(".lbock_window-free-number input[name='name']")
								.value = v.split(":")[1]
						}
					})
				</script>
		</div>
	</div>
	<div class="lbock-premium modal-3 modal" data-modal-name="modal-3">
		<div class="modal-wrappper">
			<div class="lbock_bg">
				<div class="lbock_window premium">
					<div class="block-lbock_form premium">
						<div class="div-block-info_slider-lbock">
							<div class="info-block-slide-lbock">
								<h5 class="heading-block-lbock_info">Премии «Эксперт Года SchoolRate Award»</h5>
								<div class="text-info-block"><strong>Первые места</strong> в ежегодном <strong>конкурсе лучших школ</strong> английского языка:</div>
								<ul role="list" class="list-sait">
									<li class="list-item-sait">
										<div class="text-list">Рейтинг SchoolRate.ru из 800 курсов России по 52 параметрам</div>
									</li>
									<li class="list-item-sait">
										<div class="text-list _2">30 лидеров в гонке SchoolRate Award</div>
									</li>
									<li class="list-item-sait">
										<div class="text-list _2">10 победителей по результатам онлайн-голосования и голосования экспертов</div>
									</li>
								</ul>
								<div data-animation="slide" data-duration="500" data-infinite="1" class="slider-lbock w-slider">
									<div class="mask-slider_lbock w-slider-mask">
										<div class="w-slide">
											<div class="div-block-img_slider">
												<div class="slide-img"><img src="https://gizzaprogger.github.io/project_chicaga/images/609d597e09a3be807c5b70b3_schkolniki.png" loading="lazy" alt=""></div>
												<div class="slide-img"><img src="https://gizzaprogger.github.io/project_chicaga/images/609074c07bf9502082ef575b_sl-2.jpg" loading="lazy" alt=""></div>
											</div>
											<div>
												<div class="text-bold_info">Эксперт по практике речи 2020:</div>
												<div class="text-regular_info">Премия за <strong>самые интересные форматы</strong> <br>
													для тренировки английского. Например, специальный разговорный курс Smart Chats</div>
											</div>
										</div>
										<div class="w-slide">
											<div class="div-block-img_slider">
												<div class="slide-img" style="margin: 0 auto"><img src="https://chicaga.ru/assets/components/project/app/img/practica.png" loading="lazy" alt=""></div>
											</div>
											<div>
												<div class="text-bold_info">Эксперт по обучению с носителями 2020:</div>
												<div class="text-regular_info"><strong>Носители</strong> в CHICAGA прекрасно знают русский. 
													<br>И <strong>уже с уровня Elementary</strong> помогают преодолеть языковой барьер и учат живому английскому языку</div>
											</div>
										</div>
										<div class="w-slide">
											<div class="div-block-img_slider">
												<div class="slide-img" style="margin: 0 auto"><img src="https://chicaga.ru/assets/components/project/app/img/snositel.png" loading="lazy" alt=""></div>
											</div>
											<div>
												<div class="text-bold_info">Эксперт по обучению школьников 2020
													<br>и лучший языковой лагерь городского типа 2019:</div>
												<div class="text-regular_info">Умеем обучать эффективно и увлекательно даже детей.
													<br><strong>Взрослых тем более научим</strong> английскому (это проще)</div>
											</div>
										</div>
										<div class="w-slide">
											<div class="div-block-img_slider">
												<div class="slide-img" style="margin: 0 auto"><img src="https://chicaga.ru/assets/components/project/app/img/proriv.png" loading="lazy" alt=""></div>
											</div>
											<div>
												<div class="text-bold_info">Эксперт по обучению школьников 2020
													<br>и лучший языковой лагерь городского типа 2019:</div>
												<div class="text-regular_info">Умеем обучать эффективно и увлекательно даже детей.
													<br><strong>Взрослых тем более научим</strong> английскому (это проще)</div>
											</div>
										</div>
									</div>
									<div class="left-arrow-slider_lbock w-slider-arrow-left">
										<div class="w-icon-slider-left"></div>
									</div>
									<div class="right-arrow-slider_lbock w-slider-arrow-right">
										<div class="w-icon-slider-right"></div>
									</div>
									<div class="slide-nav-lbock w-slider-nav w-slider-nav-invert w-round"></div>
								</div>
							</div>
						</div>
						<div class="form_test-lbock _2">
							<div class="title_form-lbock">Запишитесь на 3 бесплатных  пробных занятия</div>
							<div class="text-form-lbock-onlain"><a href="#" class="link-text-form">в лучшей школе</a> английского языка в СПб</div>
							<div class="form_sait w-form">
								<div class="text_online" style="margin-top: -13px;position: absolute;right: 89px;">есть онлайн!</div>
								<div style="margin-top: 20px;">
									${require('./../parts/free-form.html')}
								</div>
								<div class="w-form-done">
									<div>Thank you! Your submission has been received!</div>
								</div>
								<div class="w-form-fail">
									<div>Oops! Something went wrong while submitting the form.</div>
								</div>
							</div>
						</div>
					</div><a href="#" class="closure_link">×</a></div>
			</div>
		</div>
	</div>
	<div class="lbock-ask-questions modal-14 modal" data-modal-name="modal-14">
		<div class="modal-wrappper">
			<div class="lbock_bg _14">
				<div class="lbock_window-manager">
					<div class="block-info_lbock manager">
						<div class="div-menager">
							<div class="block-name_maneger">
								<div class="name-lbock_maneger">Анна Соколова </div>
								<div class="name-lbock_maneger-position">Менеджер CHICAGA</div>
							</div>
						</div>
						<div class="div-block-lbock_form">
							<div class="text-block-lbock_form">С удовольствием ответим
								<br>на ваши вопросы</div>
							<div class="form_lbock w-form">
								<form id="email-form-2" name="email-form-2" data-name="Email Form 2" data-redirect-to="/thank-online.html" data-js-vars="subtitle:Мы его уже получили и ответим в ближайшее время~title-end:вопрос!~info-text:Он ответит на ваши вопросы по обучению в нашей школе" data-if-url="show-cards:false~phone-school:false">
									<label for="node-3" class="field-label-lbock_form">Как к вам обращаться?</label>
									<input required type="text" maxlength="256" data-js-var-url="name" data-name="Имя" placeholder="Имя" id="node" class="pole-form lbock w-input">
									<label for="node-3" class="field-label-lbock_form">Напишите ваш вопрос</label>
									<textarea placeholder="Посоветуйте, какой курс выбрать, чтобы пройти собеседование в иностранной компании" maxlength="5000" id="field-6" name="field-6" class="pole-form fac w-input"></textarea>
									<label for="name-2" class="field-label-lbock_form">Как вам удобно получить ответ?</label>
									<div class="connection">
										<select id="field-7" name="field-7" class="pole-form lbock dop select w-select">
											<option value="WhatsApp">WhatsApp</option>
											<option value="1">1</option>
										</select>
										<input required type="tel" class="pole-form lbock dop phon w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="Введите телефон" id="field-2">
									</div>
									<input type="submit" value="задать вопрос" data-wait="Please wait..." class="button-lbock_form w-button">
									<div class="text-info_form zentr">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь
										<br>с <a href="#" class="link-form_politic">Политикой конфиденциальности</a></div>
								</form>
								<div class="w-form-done">
									<div>Thank you! Your submission has been received!</div>
								</div>
								<div class="w-form-fail">
									<div>Oops! Something went wrong while submitting the form.</div>
								</div>
							</div>
						</div>
					</div><a href="#" class="closure_link">×</a></div>
			</div>
		</div>
	</div>
	<div class="lbock-record_free modal-15 modal" data-modal-name="modal-15">
		<div class="modal-wrappper">
			<div class="lbock_bg">
				<div class="lbock_window _960">
					<div class="progressbar">
						<div class="current_step">Остался всего 1 шаг...</div>
						<div class="img_step"></div>
						<div class="bar"></div>
					</div>
					<div class="block-info_lbock">
						<div class="title_list_form-lbock">
							<div class="div-block-anna"><img src="https://gizzaprogger.github.io/project_chicaga/images/6093c9a1b59ac73ebfb319ad_annya.png" loading="lazy" alt="" class="img_anna-lbock">
								<div class="name-director-choice"><span class="director">Анна Соколова<br>‍</span>Менеджер СHICAGA</div>
							</div>
							<div class="title_list_test_form-lbock">Мы позвоним и запишем вас
								<br>на <strong class="bold-text-title_list">бесплатную консультацию<br>и тестирование</strong></div>
							<div class="text-decorative-list-lbock">На консультации</div>
							<ul role="list" class="img_list_form">
								<li class="list-item-img_form">
									<div class="div-block-img_list-lbock"><img src="https://gizzaprogger.github.io/project_chicaga/images/607d476d966520c422843766_kofe.png" loading="lazy" alt="coffe" class="coffee-lbock">
										<div class="text-list_item">Заполните тест, пока пьете
											<br>наш фирменный кофе</div>
									</div>
								</li>
								<li class="list-item-img_form">
									<div class="div-block-img_list_2-lbock"><img src="https://gizzaprogger.github.io/project_chicaga/images/607d4ab53e0393b8ff93be96_ladder.jpg" loading="lazy" alt="ladder" class="steps-lbock">
										<div class="text-list_item">Узнаете свой актуальный
											<br>уровень английского</div>
									</div>
								</li>
								<li class="list-item-img_form">
									<div class="div-block-img_list_3-lbock"><img src="https://gizzaprogger.github.io/project_chicaga/images/607d551d9948770037e01704_calendar.png" loading="lazy" alt="calendar" class="calendar-lbock">
										<div class="text-list_item">Мы подберем группу нужного
											<br>уровня и <a href="#" class="link-list_item">удобное время</a> с 9 утра до 22:00 для первого пробного занятия</div>
									</div>
								</li>
								<li class="list-item-img_form">
									<div class="div-block-img_list_4-lbock"><img src="https://gizzaprogger.github.io/project_chicaga/images/607d55424b263d01a038cac6_card.png" loading="lazy" alt="card" class="card-lbock">
										<div class="text-list_item">Получите подарок: 10 разговорных
											<br>карточек с выражениями, которыми вы поразите носителей английского</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="form_test lbock">
							<div class="text-block-lbock_form">Заполните форму, и мы
								<br>позвоним вам в течение 7 минут
								<br>или в удобное для вас время</div>
							<div class="form_lbock_gray w-form">
								${require('./../parts/phone-2-form.html')}
								<div class="w-form-done">
									<div>Thank you! Your submission has been received!</div>
								</div>
								<div class="w-form-fail">
									<div>Oops! Something went wrong while submitting the form.</div>
								</div>
							</div>
						</div>
					</div><a href="#" class="closure_link">×</a></div>
			</div>
		</div>
	</div>
	<div class="lbock-record_free-2 modal-16 modal" data-modal-name="modal-16">
		<div class="modal-wrappper">
			<div class="lbock_bg">
				<div class="lbock_window _960">
					<div class="progressbar">
						<div class="current_step">Остался всего 1 шаг...</div>
						<div class="img_step"></div>
						<div class="bar"></div>
					</div>
					<div class="block-info_lbock">
						<div class="title_list_form-lbock">
							<div class="div-block-anna"><img src="https://gizzaprogger.github.io/project_chicaga/images/6093c9a1b59ac73ebfb319ad_annya.png" loading="lazy" alt="" class="img_anna-lbock">
								<div class="name-director-choice"><span class="director">Анна Соколова<br>‍</span>Менеджер СHICAGA</div>
							</div>
							<div class="title_list_test_form-lbock">Мы позвоним и запишем вас
								<br>на <strong class="bold-text-title_list">бесплатную консультацию<br>и тестирование</strong></div>
							<div class="text-decorative-list-lbock">На консультации</div>
							<ul role="list" class="img_list_form">
								<li class="list-item-img_form">
									<div class="div-block-img_list_2-lbock"><img src="https://gizzaprogger.github.io/project_chicaga/images/607d4ab53e0393b8ff93be96_ladder.jpg" loading="lazy" alt="ladder" class="steps-lbock">
										<div class="text-list_item">Узнаете свой актуальный
											<br>уровень английского</div>
									</div>
								</li>
								<li class="list-item-img_form">
									<div class="div-block-img_list_3-lbock"><img src="https://gizzaprogger.github.io/project_chicaga/images/607d551d9948770037e01704_calendar.png" loading="lazy" alt="calendar" class="calendar-lbock">
										<div class="text-list_item">Мы подберем онлайн-группу нужного уровня и <a href="#" class="link-list_item">удобное время</a>
											<br>с 9 утра до 22:00 для первого пробного занятия</div>
									</div>
								</li>
								<li class="list-item-img_form">
									<div class="div-block-img_list_4-lbock"><img src="https://gizzaprogger.github.io/project_chicaga/images/607d55424b263d01a038cac6_card.png" loading="lazy" alt="card" class="card-lbock">
										<div class="text-list_item">Получите подарок: 10 разговорных
											<br>карточек с выражениями, которыми вы поразите носителей английского</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="form_test lbock">
							<div class="text-block-lbock_form">Заполните форму, и мы
								<br>позвоним вам в течение 7 минут
								<br>или в удобное для вас время</div>
							<div class="form_lbock_gray w-form">
								<form id="email-form-2" name="email-form-2" data-name="Email Form 2" data-redirect-to="/thank-online.html" data-js-vars="subtitle:Наш специалист свяжется с вами по телефону~title-end:Заявку!~info-text:Он запишет вас на бесплатную консультацию и тестирование.<br>На консультации подберем группу нужного уровня для первого<br>бесплатного пробного занятия и отправим подарок <br>на WhatsApp или e-mail:">
									<label for="node-3" class="field-label-wait">Как к вам обращаться?</label>
									<input required type="text" maxlength="256" data-js-var-url="name" data-name="Имя" placeholder="Имя" id="node" class="pole-form lbock w-input">
									<label for="node-3" class="field-label-wait">Введите телефон</label>
									<input type="tel" maxlength="256" data-js-var-url="phone" data-name="Телефон" placeholder="Телефон" id="node-2" class="pole-form lbock w-input">
									<label for="name-2" class="field-label-wait">Выберите школу</label>
									<select name="field-8" data-name="Field 8" class="pole-form lbock w-select">
										<option selected value="Онлайн-обучение">Онлайн-обучение</option>
										<option value="Школа на Академической">Школа на Академической</option>
										<option value="Школа на Звездной">Школа на Звездной</option>
										<option value="Школа в Купчино">Школа в Купчино</option>
										<option value="Школа на Ладожской/Большевиков">Школа на Ладожской/Большевиков</option>
										<option value="Школа на Ленинском">Школа на Ленинском</option>
										<option value="Школа в Озерках">Школа в Озерках</option>
									</select>
									<label for="name-2" class="field-label-wait">Когда позвонить?</label>
									<div>
										<div class="tabs-checkbox-lbock_form">
											<div class="tab-link-form_lbock">
												<label class="radio-button-field w-radio">
													<input required type="radio" data-name="Radio" name="radio" value="Radio" class="w-form-formradioinput radio-button w-radio-input" data-ix="clous-time">
													<div class="div-block-dynamic">
														<div>Сейчас</div>
													</div><span class="radio-button-label w-form-label">Сейчас</span></label>
											</div>
											<div class="tab-link-form_lbock">
												<label class="radio-button-field w-radio">
													<input type="radio" data-name="Radio 4" name="radio" value="Radio 2" id="Radio -4" class="w-form-formradioinput radio-button w-radio-input" data-ix="open-time">
													<div class="div-block-dynamic-2">
														<div>По времени</div>
													</div><span for="Radio -4" class="radio-button-label w-form-label">По времени</span></label>
											</div>
										</div>
										<div class="div-block-tab">
											<label for="name-2" class="field-label-lbock_form">Когда вам удобно принять звонок?</label>
											<input type="text" class="pole-form lbock w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="Например, в понедельник в 19:00" id="field-2">
											<label for="name-2" class="field-label-lbock_form">Мы рады связаться с вами:
												<br><strong>пн – чт:</strong> 12:00 – 22:00, <strong>сб – вс:</strong> 11:3</label>
										</div>
									</div>
									<div class="button-test_form">
										<div class="text-form_button">записаться на 3 бесплатных
											<br>пробных занятия онлайн</div>
										<input type="submit" value="" data-wait="Please wait..." class="submit-button w-button"><img src="https://gizzaprogger.github.io/project_chicaga/images/607d62634b263d4791390062_gift.png" loading="lazy" alt="gift" class="gift"></div>
									<div class="text-info_form zentr">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь
										<br>с <a href="#" class="link-form_politic wait">Политикой конфиденциальности</a></div>
								</form>
								<div class="w-form-done">
									<div>Thank you! Your submission has been received!</div>
								</div>
								<div class="w-form-fail">
									<div>Oops! Something went wrong while submitting the form.</div>
								</div>
							</div>
						</div>
					</div><a href="#" class="closure_link">×</a></div>
			</div>
		</div>
	</div>
	<div class="modal modal-choice finish-qiuz" data-modal-name="finish-qiuz">
		<div class="modal-wrappper">
			<div class="lbock_bg">
				<div class="div-block-choice"> <a href="#" class="closure_link">×</a>
					<div class="last-step">
						<div class="div-director-s-speech">
							<div class="div-block-anton"><img src="https://gizzaprogger.github.io/project_chicaga/images/60917feca05862fd5e7e22d0_anton-3.png" loading="lazy" alt="" class="img_anton-dop">
								<div class="name-director-choice"><span class="director">Антон Соколов</span>
									<br>Директор школы СHICAGA</div>
							</div>
							<div class="speech_anton-dop">
								<div class="div-block-pointy-anton">
									<div class="point_block_anton-dop"></div>
									<div class="speech-anton-dop">
										<div><span style="display: none;" data-js-var="top"></span> Вы можете точно определиться на 3 бесплатных
											<br>пробных уроках, что для вас лучше: <strong>групповые<br>или индивидуальные занятия, а также занятия<br>очно или онлайн.<br>‍<br></strong>Можно скомбинировать все эти варианты. Например:
											<br>‍</div>
										<ul role="list" class="list-sait">
											<li class="list-item-sait">
												<div class="text-list">1 индивидуальное занятие в школе и 2 групповых онлайн (или наоборот)</div>
											</li>
											<li class="list-item-sait">
												<div class="text-list _2">если предпочтете пройти 3 групповых пробных занятия: 1 онлайн и 2 в школе (или наоборот)</div>
											</li> <span style="display: none;" data-js-var="list"></span> </ul>
										<div><strong>Главное, чтобы вам было комфортно</strong> заниматься.
											<br>Так вы быстрее достигнете своих целей в английском.</div>
										<div class="text-block-frame">Это всего лишь тест на сайте. В любом случае надо пройти <strong>тестирование на определение актуального уровня английского.</strong> И тогда
											<br>мы более точно порекомендуем вам подходящий формат обучения.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="div-selection-form">
							<div class="div-block-progressbar">
								<div class="progressbar-choice_zentr">
									<div class="current_step black">Остался последний шаг...</div>
									<div class="img_step-choice"></div>
									<div class="bar-choice last-step"></div>
								</div>
							</div>
							<div class="gift-block">
								<div class="title_form-lbock" style="font-size: 19px">Получите ваши подарки <br> прямо сейчас</div>
								<img style="position: absolute; left: 116px; top: 131px" src="https://gizzaprogger.github.io/project_chicaga/images/60915c1050fbf83b24645063_Adjustments.png" loading="lazy" alt="" class="gift-book">
								<img style="position: absolute; left: 125px; top: 318px" src="https://gizzaprogger.github.io/project_chicaga/images/609160b3f9f80319055e6fbb_Present.png" loading="lazy" alt="" class="present">
								<div class="gift-block__text" style="margin-top: 44px;">Гарантированный <br> подарок:</div>
								<div class="gift-block__text" style="margin-top: 39px;">
									Топ-5 советов <br>
									«Как научиться понимать <br>
									фильмы на английском» <br>
								</div>
								<div class="gift-block__text" style="margin-top: 20px; margin-bottom: 13px; font-size: 19px; text-align: center;">+</div>
								<div class="gift-block__text">Бонус:</div>
								<div class="gift-block__text" style="margin-bottom: 60px; margin-top: 26px;">
									Секретный <br>
									подарок
								</div>
								<form>
									<label for="node-3" class="field-label-wait">Введите e-mail</label>
									<input required type="email" class="pole-form w-input" maxlength="256" name="field-5" data-name="Field 5" placeholder="hello@mail.com" id="field-5" required="">
									<div class="button-test_form">
										<div class="text-form_button" style="font-size: 11px;">получить PDF с 5 советами <br> и секретный подарок</div>
										<input type="submit" value="" data-wait="Please wait..." class="submit-button w-button"><img src="https://gizzaprogger.github.io/project_chicaga/images/607d62634b263d4791390062_gift.png" loading="lazy" style="width: 55px; top: 22px; right: -35px;" alt="gift" class="gift"></div>
									<div class="text-info_form-politic" style="margin-bottom: 33px; margin-top: 29px;">Нажимая на кнопку "получить PDF <br> с 5 советами и секретный подарок", вы даете согласие на обработку своих персональных данных и соглашаетесь
										<br>с <a href="#" class="link-politic">Политикой конфиденциальности</a></div>
									<div style="width: 100%; height: 4px; background: #fff; border-radius: 5px;"></div>
								</form>
							</div>
							<!-- <div class="form_last-step">
								<div class="title_form-lbock">Получите ваши подарки прямо сейчас</div>
								<div class="div-block-bonuses_zentr">
									<div class="bonuses-1-last-step">
										<div class="text-capitalize">Гарантированный подарок:</div>
										<div class="text-dop_gift">Топ-5 советов
											<br>«Как научиться понимать фильмы на английском»</div>
									</div>
									<div class="text-decoratyve">+</div>
									<div class="bonuses-2-last-step">
										<div class="text-capitalize">Бонус:</div>
										<div class="text-dop_gift">Секретный
											<br>подарок</div>
									</div>
								</div>
								
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal modal-enter" data-modal-name="enter-map">
		<div class="modal-wrappper">
			<img style="max-height: 80vh; max-width: 80vw;" src="">
			<a href="#" class="closure_link">×</a></div>
		</div>
	</div>
	<div class="modal modal-player" data-modal-name="player">
		<div class="modal-wrappper">
			<div>
				<div class="player">
					<video controls style="height: 80vh; max-width: 80vw;" src=""></video>
					<a href="#" class="pulse link-video-lbock play-pause w-inline-block" style="margin-left: 0;top: 50%;left: 50%;transform: translate(-50%, -50%);"></a>
				</div>
				<a href="#" class="closure_link">×</a></div>
		</div>
	</div>
	<div class="modal modal-video" data-modal-name="video">
		<div class="modal-wrappper">
			<div class="lbock_window">
				<div class="block-lbock_form">
					<div>
						<div class="block-lbock_video player">
							<video controls poster="https://gizzaprogger.github.io/project_chicaga/images/6090404f926dc8403d066315_video_form.jpg" style="display: block; width: 553px; height: 409px;" src="" style="display: block; width: 553px; height: 409px;"></video>
							<a href="#" class="pulse link-video-lbock play-pause w-inline-block"></a>
						</div>
						<div class="info-block">
							<div class="text-info-block">Вы узнаете за 2 минуты:</div>
							<ul role="list" class="list-sait">
								<li class="list-item-sait">
									<div class="text-list">почему <strong>вы заговорите на английском </strong>
										<br>в нашей <strong>зажигательной школе</strong></div>
								</li>
								<li class="list-item-sait">
									<div class="text-list _2"><strong>об акциях и розыгрышах</strong> призов</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="form_test-lbock">
						<div class="title_form-lbock">Запишитесь на 3 бесплатных  пробных занятия</div>
						<div class="text-form-lbock">в одной из 6 школ или онлайн</div>
						<div class="form_sait w-form">
							${require('./../parts/free-form.html')}
							<div class="w-form-done">
								<div>Thank you! Your submission has been received!</div>
							</div>
							<div class="w-form-fail">
								<div>Oops! Something went wrong while submitting the form.</div>
							</div>
						</div>
					</div>
				</div><a href="#" class="closure_link">×</a></div>
		</div>
	</div>
	<div class="modal lbock-exit-pop-up" data-modal-name="exit">
		<div class="modal-wrappper">
			<div class="lbock_window-popup">
				<div class="div-block-heading">
					<h2 class="heading2 dop">Получите 11 советов,  <br>как <strong>быстро заговорить на английском</strong></h2>
					<div class="subtitle dop">Полезно для тех, кто мечтает общаться с иностранцами на английском</div>
				</div>
				<div class="block-lbock_form-popup">
					<div><img src="https://gizzaprogger.github.io/project_chicaga/images/609856f924b791e71cb2c386_Adjustments-2.png" loading="lazy" alt="" class="image-book"></div>
					<div class="form_test-lbock-popup exit">
						<div class="title_form-lbock-regular"><strong>Введите e-mail</strong> и получите PDF с советами прямо сейчас. Бесплатно.</div>
						<div class="form_sait exit w-form">
							<form id="email-form-2" name="email-form-2" data-name="Email Form 2">
								<input required type="email" maxlength="256" data-name="Почта" placeholder=" hello@mail.com" id="node-3" class="pole-form w-input">
								<div style="display: flex">
									<button class="button-form-popup-exit w-button">получить PDF на e-mail (1mb)</button>
									<button class="button-form-popup button-form-popup-exit w-button">
										скачать pdf <br> через вконтакте
									</button>
								</div>
								<div class="text-info_form-politic">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь
									<br>с <a href="#" class="link-politic">Политикой конфиденциальности</a></div>
							</form>
							<div class="w-form-done">
								<div>Thank you! Your submission has been received!</div>
							</div>
							<div class="w-form-fail">
								<div>Oops! Something went wrong while submitting the form.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="div-block-anton-popup">
					<div class="div-block-anton-popup-exit">
						<div class="name-director-thanks-copy"><span class="director-thanks">Антон Соколов</span>
							<br>Директор школы
							<br>СHICAGA</div><img src="https://gizzaprogger.github.io/project_chicaga/images/6098685410ab20d94baa7749_anton-4.png" loading="lazy" alt="" class="img_anton"></div>
					<div class="div-premii-popup">
						<div class="text-popup"><span class="text-span-rad-popup-text">“</span><strong>Проверенная и эффективная методика</strong> без зубрежки
							<br>и сложных заданий <strong>от </strong><span><strong class="bold-text">школы № 1 в рейтингах СПб</strong></span>
							<br>
							<br><span class="text-span-premium">Подтверждено профессиональными премиями «Эксперт Года SchoolRate Award»:</span></div>
						<div class="block-img"><img src="https://gizzaprogger.github.io/project_chicaga/images/609d63c99f365d9c92e13b62_DSC06760.png" loading="lazy" alt="" data-tip="1-е место в профессиональных <br> рейтингах порталов schoolrate.ru, <br> englishchoice.ru, enguide.ru" class="img_premii"><img src="https://gizzaprogger.github.io/project_chicaga/images/6098624924b7917f98b2eb91_metodika20goda.png" loading="lazy" alt="" class="img_premii"><img src="https://gizzaprogger.github.io/project_chicaga/images/6098628394250e41719afc82_practika20rechi.png" loading="lazy" alt="" class="img_premii"><img src="https://gizzaprogger.github.io/project_chicaga/images/609862b8305890021af3de44_s20nositelyami.png" loading="lazy" alt="" class="img_premii"></div>
					</div>
				</div><a href="#" class="closure_link">×</a></div>
		</div>
	</div>
	<div class="lbock-dogovor modal modal-dogovor" data-modal-name="modal-dogovor">
		<div class="modal-wrappper">
			<div class="lbock_bg">
				<div class="lbock_window-manager">
					<div class="block-info_lbock_dogovor" style="max-width: 770px;"> <a href="#" class="closure_link">×</a> 4.2. Исполнитель гарантирует, что в рамках выбранного Заказчиком Курса
						<br> Исполнитель выполнит все свои обязательства в полном объеме. При этом, в силу
						<br> объективных причин, Исполнитель не несёт ответственности за качество усвоения
						<br> Слушателем получаемых знаний.
						<br> В то же время Исполнитель гарантирует, что добровольно берет на себя
						<br> обязательство перед Слушателем предоставить право безвозмездного повторения
						<br> Курса в случае выполнения всех нижеприведенных условий/событий:
						<br> - Слушатель посетил 80 (восемьдесят) процентов занятий от выбранного Курса;
						<br> - Слушатель выполнял все домашние задания, назначенные специалистом
						<br> Исполнителя;
						<br> - Слушатель выполнил все задания в рамках занятия;
						<br> - Слушатель не приостанавливал посещение занятий по своей инициативе на протяжении прохождения Курса;
						<br> - Слушатель написал по окончании прослушанного Курса тест с результатом правильных ответов менее 70 (семидесяти) процентов.
						<br> 4.3. Право безвозмездного повторения Курса в случае выполнения всех
						<br> вышеприведенных условий/событий действует в течение 2 (двух) месяцев (начало
						<br> повторного прохождения курса того же уровня) после сдачи теста с результатом
						<br> правильных ответов менее 70 (семидесяти) процентов.
						<br> </div>
				</div>
			</div>
		</div>
	</div>
	<div class="lbock-sertyficate modal-13 modal" data-modal-name="modal-13">
		<div class="modal-wrappper">
			<div class="lbock_window-manager">
				<div class="progressbar">
					<div class="current_step">Остался всего 1 шаг...</div>
					<div class="img_step"></div>
					<div class="bar"></div>
				</div>
				<div class="block-info_lbock">
					<div class="div-menager">
						<div class="block-name_maneger">
							<div class="name-lbock_maneger">Анна Соколова</div>
							<div class="name-lbock_maneger-position">Менеджер CHICAGA</div>
						</div>
					</div>
					<div class="div-block-lbock_form">
						<div class="text-block-lbock_form">Заполните форму, и мы
							<br>позвоним вам в течение 7 минут
							<br>или в удобное для вас время</div>
						<div class="form_lbock w-form">
							${require('./../parts/phone-form.html')}
							<div class="w-form-done">
								<div>Thank you! Your submission has been received!</div>
							</div>
							<div class="w-form-fail">
								<div>Oops! Something went wrong while submitting the form.</div>
							</div>
						</div>
					</div>
				</div><a href="#" class="closure_link">×</a></div>
		</div>
	</div>
	<a href="/#up" class="upstairs w-inline-block up-button" data-menuanchor="up"></a>>
<!-- <body>
	<!-- <div class="div-block-otziv">
		<div data-animation="slide" data-duration="500" data-infinite="1" class="slider w-slider" role="region" aria-label="carousel">
			<div style="overflow: hidden;">
				<div class="mask w-slider-mask reviews-slider" id="w-slider-mask-1">
					<div class="w-slide" aria-label="1 of 2" role="group" style="transform: translateX(-980px); opacity: 1; transition: transform 500ms ease 0s;" aria-hidden="true">
						<div class="block_info" aria-hidden="true">
							<div class="speech" aria-hidden="true">
								<div class="word" aria-hidden="true">
									<div class="icon-word" aria-hidden="true"></div>
									<h3 class="heading3_zentr left" aria-hidden="true">Стала понимать друзей-иностранцев<br aria-hidden="true">и в шоке от преподавателя:)</h3> </div>
							</div>
							<div class="div-otziv" aria-hidden="true">
								<div class="div-user" data-open-modal="video" data-set-video="../src/assets/video.mp4" aria-hidden="true"><img src="https://gizzaprogger.github.io/project_chicaga/images/60633878f80d4233878ef91f_Layer20118.jpg" loading="lazy" alt="Валерия Гусаковская" class="foto_user" aria-hidden="true">
									<a href="#" class="link-block _2 w-inline-block pulse" tabindex="-1" aria-hidden="true"></a>
								</div>
								<div class="content-scroll_wrapper-2" aria-hidden="true">
									<div aria-hidden="true">
										<div class="name_user" aria-hidden="true">Валерия Гусаковская</div>
										<p class="paragraph-color" aria-hidden="true">Я обучаюсь в CHICAGA 6 месяцев, сейчас на уровне Elementary. Пришла с нулевыми знаниями.
											<br aria-hidden="true"><span class="text-span-eloy" aria-hidden="true">Уже стала лучше понимать моих друзей-иностранцев. </span>
											<br aria-hidden="true">
											<br aria-hidden="true">Мне было важно, чтобы <span class="text-span-eloy _2" aria-hidden="true">школа была современная, стильная.</span> Смотрела также по рейтингам, и в первую очередь искала по Интернету. Так я нашла CHICAGA. Школа удовлетворила всем моим требованиям.
											<br aria-hidden="true">
											<br aria-hidden="true">Здесь действительно очень комфортно, нравится дизайн и чистота. <span class="text-span-eloy _2" aria-hidden="true">Преподаватели заряжают эмоциями и энергией,</span>
											<br aria-hidden="true">с однокурсниками всегда весело. Администраторы очень приятные.
											<br aria-hidden="true">
											<br aria-hidden="true">Мой преподаватель – Kate. Мне безумно нравится с ней заниматься. На уроках мы поем популярные песни и переводим их – это очень смешно. Очень круто понимать
											<br aria-hidden="true">
											<br aria-hidden="true">Мой преподаватель – Kate. Мне безумно нравится с ней заниматься. На уроках мы поем популярные песни и переводим их – это очень смешно. Очень круто понимать
											<br aria-hidden="true">
											<br aria-hidden="true">
											<br aria-hidden="true">Мой преподаватель – Kate. Мне безумно нравится с ней заниматься. На уроках мы поем популярные песни и переводим их – это очень смешно. Очень круто понимать</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="w-slide" aria-label="2 of 2" role="group" style="transform: translateX(-980px); opacity: 1; transition: transform 500ms ease 0s;">
						<div class="block_info">
							<div class="speech">
								<div class="word">
									<div class="icon-word"></div>
									<h3 class="heading3_zentr left">Множество скидок, бонусов и подарков &nbsp;<br>И розыгрыш автомобиля</h3> </div>
							</div>
							<div class="div-otziv">
								<div class="div-user-img">
									<div class="uzer"></div>
									<div class="name_user">Александра Свечникова</div>
								</div>
								<div class="content-scroll_wrapper-2">
									<div>
										<p class="paragraph-color-dop">Мы дружим с CHICAGA уже почти год)
											<br>
											<br>Только представьте: светлые стильные классы, шикарные яркие и комфортные зоны отдыха, молодой позитивный персонал, руководство – настоящие новаторы, преподаватели – все до одного – <span class="text-span-eloy">&nbsp;участливые, </span><span class="text-span-eloy">харизматичные и увлеченные своим делом, </span>&nbsp;интересные программы обучения с постоянным общением и играми даже для взрослых <span class="text-span-img">🙂</span>, а еще &nbsp;<span class="text-span-eloy">множество скидок, бонусов </span>
											<br><span class="text-span-eloy">и подарков. </span>
											<br>
											<br>Ну в какой еще школе вы &nbsp;<span class="text-span-eloy">сможете выиграть автомобиль... </span>
											<br>Только в CHICAGA <span class="text-span-img _2">♥</span>
											<br>
											<br>
											<br>
											<br>
											<br>
											<br>
											<br>
											<br>‍</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<span class="reviews__nav">
				<div class="left-arrow w-slider-arrow-left" role="button" tabindex="0" aria-controls="w-slider-mask-1" aria-label="previous slide">
					<div class="w-icon-slider-left"></div>
				</div>
				<div class="right-arrow w-slider-arrow-right" role="button" tabindex="0" aria-controls="w-slider-mask-1" aria-label="next slide">
					<div class="w-icon-slider-right"></div>
				</div>
			</span>
			<div class="slide-nav w-slider-nav w-slider-nav-invert w-round">
				<div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 1 of 2" aria-selected="false" role="button" tabindex="-1"></div>
				<div class="w-slider-dot w-active" data-wf-ignore="" aria-label="Show slide 2 of 2" aria-selected="true" role="button" tabindex="0"></div>
			</div>
		</div>
		<div class="div-block-blue"></div>
	</div> -->
<!-- <div class="div-block-slider" style="overflow-x: hidden;">
		<div class="div-block-info-schools">
			<div><strong>6 современных школ</strong> английского языка CHICAGA <br><strong>без парт, столов и даже без стен:</strong></div>
		</div>
		<div class="slider-foto-schools w-slider" role="region" aria-label="carousel">
			<div class="mask-slider w-slider-mask slider-photo">
				<div class=" w-slide" aria-label="1 of 3" role="group" style="transform: translateX(-890px); opacity: 1; transition: transform 700ms ease 0s;" aria-hidden="true">
					<div class="div-block-foto" aria-hidden="true"><img src="https://gizzaprogger.github.io/project_chicaga/images/607ec475ff3ddc75720e42be_slide-1.jpg" sizes="(max-width: 767px) 100vw, (max-width: 991px) 88vw, 860.0000610351562px" srcset="https://gizzaprogger.github.io/project_chicaga/images/607ec475ff3ddc75720e42be_slide-1-p-500.jpeg 500w, https://gizzaprogger.github.io/project_chicaga/images/607ec475ff3ddc75720e42be_slide-1-p-800.jpeg 800w, https://gizzaprogger.github.io/project_chicaga/images/607ec475ff3ddc75720e42be_slide-1.jpg 860w" alt="" aria-hidden="true">
						<div class="div-info-schools-poster" aria-hidden="true">
							<div aria-hidden="true"><strong aria-hidden="true">Мотивирующие </strong>постеры</div>
						</div>
						<div class="div-info-schools-podstavca" aria-hidden="true">
							<div aria-hidden="true"><strong aria-hidden="true">Откидная подставка &nbsp;</strong>
								<br aria-hidden="true">для учебника
								<br aria-hidden="true">и рабочей тетради</div>
						</div>
					</div>
				</div>
				<div class=" w-slide" aria-label="2 of 3" role="group" style="transform: translateX(-890px); opacity: 1; transition: transform 700ms ease 0s;">
					<div class="div-block-foto"><img src="https://gizzaprogger.github.io/project_chicaga/images/607eb3327c010a7f7ac7c1c6_slide-2.jpg" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 88vw, 860.0000610351562px" srcset="https://gizzaprogger.github.io/project_chicaga/images/607eb3327c010a7f7ac7c1c6_slide-2-p-500.jpeg 500w, https://gizzaprogger.github.io/project_chicaga/images/607eb3327c010a7f7ac7c1c6_slide-2-p-800.jpeg 800w, https://gizzaprogger.github.io/project_chicaga/images/607eb3327c010a7f7ac7c1c6_slide-2.jpg 860w" alt="">
						<div class="div-info-schools">
							<div><strong>Больше света <br>и объема</strong> за счет
								<br>прозрачных стен</div>
						</div>
					</div>
				</div>
				<div class=" w-slide" aria-label="3 of 3" role="group" style="transform: translateX(-890px); opacity: 1; transition: transform 700ms ease 0s;" aria-hidden="true">
					<div class="div-block-foto" aria-hidden="true"><img src="https://gizzaprogger.github.io/project_chicaga/images/607ec479a05c204de3a9ea9d_slide-3.jpg" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 88vw, 860.0000610351562px" srcset="https://gizzaprogger.github.io/project_chicaga/images/607ec479a05c204de3a9ea9d_slide-3-p-500.jpeg 500w, https://gizzaprogger.github.io/project_chicaga/images/607ec479a05c204de3a9ea9d_slide-3-p-800.jpeg 800w, https://gizzaprogger.github.io/project_chicaga/images/607ec479a05c204de3a9ea9d_slide-3.jpg 860w" alt="" aria-hidden="true">
						<div class="div-info-schools-bar" aria-hidden="true">
							<div aria-hidden="true">Наши студенты любят
								<br aria-hidden="true">общаться у чайно-кофейного
								<br aria-hidden="true">бара. <strong aria-hidden="true">И уроки, и тусовка <br aria-hidden="true">в одном месте :)</strong></div>
						</div>
						<div class="div-info-schools-coffe" aria-hidden="true">
							<div aria-hidden="true"><strong aria-hidden="true">8</strong> сортов чая
								<br aria-hidden="true"><strong aria-hidden="true">фирменный кофе </strong>
								<br aria-hidden="true"><strong aria-hidden="true">10</strong> сортов шоколада</div>
						</div>
					</div>
				</div>
			</div>
			<span class="photo-slider__nav">
				<div class="link-slider-left w-slider-arrow-left" data-slider-prev role="button" tabindex="0" aria-controls="w-slider-mask-0" aria-label="previous slide">
					<div class="w-icon-slider-left"></div>
				</div>
				<div class="link-slider-right w-slider-arrow-right" data-slider-next role="button" tabindex="0" aria-controls="w-slider-mask-0" aria-label="next slide">
					<div class="w-icon-slider-right"></div>
				</div>
			</span>
			<div class="slide-nav-none w-slider-nav w-round">
				<div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 1 of 3" aria-selected="false" role="button" tabindex="-1"></div>
				<div class="w-slider-dot w-active" data-wf-ignore="" aria-label="Show slide 2 of 3" aria-selected="true" role="button" tabindex="0"></div>
				<div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 3 of 3" aria-selected="false" role="button" tabindex="-1"></div>
			</div>
		</div>
	</div> -->
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
	<script src="https://chicaga.ru/sharedFiles/js/scripts.js?v=1.3"></script>
	<script src="https://chicaga.ru/assets/components/project/app/js/custom_demo.js?v=2.4" defer=""></script>
	<script src="https://gizzaprogger.github.io/project_chicaga/js/script.js"></script>
</body>

</html>