<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://gizzaprogger.github.io/project_chicaga/css/style.css?ver=1621411803">
	<link rel="stylesheet" href="https://gizzaprogger.github.io/project_chicaga/css/additional.css">
	<link rel="stylesheet" href="https://cdn.skypack.dev/@frsource/tiny-carousel-core/dist/index.css"> </head>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	${require('./../parts/gjs-css-rules.html')}
<body class="body">